<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.fhdw.de/iis1/tarot/Tarot"
			class = "de.fhdw.iis1.tarot.tarot.TarotPackage"
			genModel = "model/generated/Tarot.genmodel" />
	</extension>
</plugin>
